<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Price Prediction</title>
    <link rel="stylesheet" href="/src/static/style.css">
</head>
<body>
<div class="container">
    <h1>Stock Price Prediction</h1>
    <form id="predictionForm">
        <label for="stockName">Stock Name:</label>
        <input type="text" id="stockName" name="stockName" required>
        <br>
        <label for="minutes">Duration:</label>
        <input type="number" id="minutes" name="minutes" min="1" max="7" required>
        <br>
        <label for="interval">Prediction Interval:</label>
        <select id="interval" name="interval" required>
            <option value="1h">Hourly</option>
            <option value="1m">Minute</option>
        </select>
        <br>
        <button type="submit">Get Prediction</button>
    </form>
    <h2>Prediction:</h2>
    <div id="result"></div>
</div>
<script src="/src/static/script.js"></script>
</body>
</html>
